footer
  .container
    .row.text-center
      ul.list-inline
        li
          a href="#{fees_path}"
            = t('footer.fees')
        li
          a href="#{terms_path}"
            = t('footer.terms')
        li
          a href="#{privacy_path}"
            = t('footer.privacy')
      p
        = t('footer.copyright')
        | &nbsp
        a href="https://demo.exchange"
          = t('brand')
        | &nbsp
        | .
