<h1 id="privacy-policy">Privacy policy</h1>
<hr>

<h3 id="general">
  General
</h3>
<p>
  DEMO EXCHANGE. and its affiliates (hereinafter, "DEMO EXCHANGE", "we", "us" or "our") are committed to protecting and respecting your privacy.
</p>
<p>
  This Privacy Policy (together with our Terms and Conditions of Use) governs our collection, processing and use of your Personal Information. We define "Personal Information" as information which identifies you personally, e.g. your name, address, e-mail address, trades etc.
</p>
<p>
  The purpose of this Privacy Policy is to inform you of:
</p>
<ol>
  <li>the kinds of Personal Information which we may collect about you and how it may be used;</li>
  <li>our use of information regarding IP Addresses and our use of cookies;</li>
  <li>any disclosure of Personal Information to third parties;</li>
  <li>your ability to correct, update and delete your Personal Information; and</li>
  <li>the security measures we have in place to prevent the loss, misuse, or alteration of Personal Information under our control.</li>
</ol>

<br>
<h3 id="gathering-and-use-of-personal-information">
  Gathering and Use of Personal Information
</h3>
<p>
  We may collect your Personal Information if you use the Site, open an Account to use the Platform or perform any Transactions on the Platform. The types of Personal Information which we collect may include:
</p>
<ol>
  <li>your name;</li>
  <li>your address;</li>
  <li>your phone number;</li>
  <li>your e-mail address;</li>
  <li>your banking details including account numbers;</li>
  <li>your date of birth; and</li>
  <li>your trades.</li>
</ol>
<p>
  We may use your Personal Information for the following purposes:
</p>
<ol>
  <li>to allow you to open and operate an Account on the Platform;</li>
  <li>to enable you to complete Transactions on the Platform;</li>
  <li>if you contact us, to reply to your queries;</li>
  <li>to analyse use of our Site;</li>
  <li>as required for regulatory purposes;</li>
  <li>to provide you with information about products and promotions that may be of interest to you, from ourselves and third parties, although only if you have specifically agreed to receive such information;</li>
  <li>for market research e.g. surveying our Users' needs and opinions on issues, such as our performance etc.</li>
</ol>
<p>
  We will process your Personal Information only for the purpose(s) for which it has been provided to us.
</p>

<br>
<h3 id="ip-addresses">
  IP Addresses
</h3>
<p>
  We may collect information about your computer, including where available your IP address, operating system and browser type, for system administration and to report aggregate information to our advertisers. This is statistical data about our users' browsing actions and patterns and does not identify any individual.
</p>

<br>
<h3 id="cookies">
  Cookies
</h3>
<p>
  We use a browser feature known as a "cookie", which assigns a unique identification to your computer. Cookies are typically stored on your computer's hard drive. Information collected from cookies is used by us to evaluate the effectiveness of our Site, analyse trends, and administer the Platform. The information collected from cookies allows us to determine such things as which parts of our Site are most visited and difficulties our visitors may experience in accessing our Site. With this knowledge, we can improve the quality of your experience on the Platform by recognising and delivering more of the most desired features and information, as well as by resolving access difficulties. We also use cookies and/or a technology known as web bugs or clear gifs, which are typically stored in emails to help us confirm your receipt of, and response to, our emails and to provide you with a more personalised experience when using our Site.
</p>
<p>
  We use third party service provider(s), to assist us in better understanding the use of our Site. Our service provider(s) will place cookies on the hard drive of your computer and will receive information that we select that will educate us on such things as how visitors navigate around our site, what products are browsed, and general Transaction information. Our service provider(s) analyses this information and provides us with aggregate reports. The information and analysis provided by our service provider(s) will be used to assist us in better understanding our visitors' interests in our Site and how to better serve those interests. The information collected by our service provider(s) may be linked to and combined with information that we collect about you while you are using the Platform. Our service provider(s) is/are contractually restricted from using information they receive from our Site other than to assist us.
</p>
<p>
  By using our Site you are agreeing that we may use cookies for the purposes set out above.
</p>

<br>
<h3 id="disclosure-of-personal-information">
  Disclosure of Personal Information
</h3>
<p>
  We use the Personal Information for the purposes indicated at the time you provide us with such information, and/or otherwise for the purposes set out in this Privacy Policy and/or as otherwise permitted by law.
</p>
<p>
  We may make available the Personal Information that you provide to us to our affiliates, agents, representatives, trusted service providers and contractors for these limited purposes.
</p>
<p>
  We may also share Users’ Personal Information with financial institutions, insurance companies or other companies in the case of a merger, divestiture, or other corporate re-organisation.
</p>
<p>
  We may also share Users' Personal Information with law enforcement or regulatory agencies, as may be required by law.
</p>
<p>
  Any third party which receives or has access to Personal Information shall be required by us to protect such Personal Information and to use it only to carry out the services they are performing for you or for DEMO EXCHANGE, unless otherwise required or permitted by law.
</p>
<p>
  We will ensure that any such third party is aware of our obligations under this Privacy Policy and we will enter into contracts with such third parties by which they are bound by terms no less protective of any Personal Information disclosed to them than the obligations we undertake to you under this Privacy Policy or which are imposed on us under applicable data protection laws.
</p>

<br>
<h3 id="correction-updating-deletion-of-personal-information">
  Correction/Updating/Deletion of Personal Information
</h3>

<p>
  You have the right to access your Personal Information and to require the correction, updating and blocking of inaccurate and/or incorrect data by sending an email to us at:
  <a href="mailto:support@demo.exchange">support@demo.exchange</a>.
</p>
<p>
  You may also request the deletion or destruction of both the Account and Personal Information by sending an email to us at:
  <a href="mailto:support@demo.exchange">support@demo.exchange</a>.
  DEMO EXCHANGE will action your request only where this is not inconsistent with its legal and regulatory obligations.
</p>
<p>
  Upon your written request, we will inform you of the Personal Information relating to you that we hold and the use and general disclosure of your Personal Information. We will also give you a copy of the Personal Information we have retained. There may be a minimal charge for accessing your Personal Information.
</p>

<br>
<h3 id="security">
  Security
</h3>
<p>
  We have implemented security measures to ensure the confidentiality of your Personal Information and to protect your Personal Information from loss, misuse, alteration or destruction. Only authorised personnel of DEMO EXCHANGE have access to your Personal Information, and these personnel are required to treat the information as confidential. The security measures in place will, from time to time, be reviewed in line with legal and technical developments.
</p>

<br>
<h3 id="retention-of-personal-information">
  Retention of Personal Information
</h3>
<p>
  We will hold your Personal Information only for as long as it is necessary for us to do so, having regard to the purposes described in this Privacy Policy and our own legal and regulatory requirements. In accordance with our record keeping obligations we will retain Accounts and Personal Information for, at least a period of five years after they are closed by Users.
</p>

<br>
<h3 id="links">
  Links
</h3>
<p>
  There may be links from our Site to other sites and resources provided by third parties. This Privacy Policy applies only to our Site. Accessing those third party sites or sources requires you to leave our Site. We do not control those third party sites or any of the content contained therein and you agree that we are in no way responsible or liable for any of those third party sites, including, without limitation, their content, policies, failures, promotions, products, services or actions and/or any damages, losses, failures or problems caused by, related to or arising from those sites. We encourage you to review all policies, rules, terms and regulations, including the privacy policies, of each site that you visit.
</p>

<br>
<h3 id="marketing">
  Marketing
</h3>
<p>
  You have the right to ask us not to process your Personal Information for marketing purposes. You can exercise your right to prevent such processing by checking certain boxes on the forms we use to collect your Personal Information. You can exercise the right at any time by contacting us at
  <a href="mailto:support@demo.exchange">support@demo.exchange</a>.
</p>

<br>
<h3 id="changes">
  Changes
</h3>
<p>
  Our Site policies, content, information, promotions, disclosures, disclaimers and features may be revised, modified, updated, and/or supplemented at any time and without prior notice at the sole and absolute discretion of DEMO EXCHANGE. If we change this Privacy Policy, will take steps to notify all users by a notice on our Site and will post the amended Privacy Policy on the Site.
</p>

<br>
<h3 id="fraud-phishing-and-email-scams-disclaimer">
  Fraud, Phishing and Email scams disclaimer
</h3>
<p>
  Please be notified that DEMO EXCHANGE is not in any partnership with entities who represent themselves as customer support agents, providing customer support services via phone and/or social media and promise to help solve your issues for money. Remember - customer support is provided only via the DEMO EXCHANGE website and is always provided free of charge.
</p>
<p>
  If you discovered what you believe is a fraud, phishing, or scam which impersonates DEMO EXCHANGE, please email us at
  <a href="mailto:support@demo.exchange" title="support@demo.exchange">support@demo.exchange</a>
</p>

<br>
<h3 id="contact-us">
  Contact Us
</h3>
<p>
  If you have any questions, comments, or concerns regarding our Privacy Policy and/or practices as it or they relate to the Platform, please contact us at the following e-mail address, address and telephone number:
</p>
<p>
  E-Mail:
  <a href="mailto:support@demo.exchange" title="support@demo.exchange">support@demo.exchange</a>
</p>
<hr>