<section class="withdraw-instruction">
  <div class="row">
    <div class="col-sm-4">
      <h4 class="steps">1</h4>
    </div>

    <div class="col-sm-20">
      <p> {{"funds.deposit_coin.open-wallet" | t}} </p>
    </div>
  </div>

  <hr class="split">

  <div class="row">
    <div class="col-sm-4">
      <h4 class="steps">2</h4>
    </div>
    <div class="col-sm-20">
      <ng-include src="'/templates/funds/_qrcode.html'"></ng-include>

      <p class="clearfix">{{"funds.deposit_coin.detail_xrp" | t}}</p>

      <ng-include src="'/templates/funds/_address_xrp.html'"></ng-include>

      <br>{{"funds.deposit_coin.scan-qr" | t}}

    </div>
  </div>

  <hr class="split">

  <div class="row">
    <div class="col-sm-4"><h4 class="steps">3</h4></div>
    <div class="col-sm-20">
      <p>{{"funds.deposit_coin.after_deposit" | t}}</p>
    </div>
  </div>

</section>
